# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ProjectPlayPrototype.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\OneDrive\Documenten\HKU\ProjectPlay\prototype\ProjectPlayPrototype\.idea\.idea.ProjectPlayPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
